name: Deploy to Firebase Hosting & Functions
'on':
  push:
    branches:
      - main
jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install Functions Dependencies
        run: npm install
        working-directory: functions

      - name: Setup Key and Deploy
        run: |
          echo '${{ secrets.FIREBASE_SERVICE_ACCOUNT_AURAGIFTS_C5FA0 }}' > gcp_key.json
          export GOOGLE_APPLICATION_CREDENTIALS=$(pwd)/gcp_key.json
          npm install -g firebase-tools
          firebase deploy --non-interactive --project auragifts-c5fa0
